@import url('bootstrap');


main{
    min-height: 90vh;
}
.card{
    border: solid black 2px;
    box-shadow: 2px 2px 2px 2px black;
    
}

.pgn{
    background-image: url(./assets/palms-and-waves-on-the-beach-at-sunset-wallpaper-3440x1440_15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#singleProduct{
    height: 10rem;
    background-color: red;
}

.footerBar{
    height: 80px;
    background-image: url(./assets/modern-minimalist-dark-blue-premium-abstract-background-with-luxury-geometric-dark-shape-exclusive-wallpaper-design-for-website-poster-brochure-presentation-free-vector.jpg);
    display: flex;
    
}
    
.headerBar{
    height: 60px;
    background-image: url(./assets/modern-minimalist-dark-blue-premium-abstract-background-with-luxury-geometric-dark-shape-exclusive-wallpaper-design-for-website-poster-brochure-presentation-free-vector.jpg);
}

#descr{
    font-size: 12px;
}



